::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  background-color: rgb(39, 255, 39);
  border-radius: 20px;
}
body {
  color: rgb(255, 255, 255);
  font-family: 'Rajdhani', sans-serif;
}
.container {
  background: rgb(34, 34, 34);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.box-options {
  width: 60vw;
  height: 70vh;
  border-radius: 20px;
  background: rgb(144, 74, 255);
  box-shadow: rgb(136, 62, 255) 0px 0px 10px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform:  translateX(-25%);
  transition: all 0.3s ease;
  overflow-y: scroll;
}
.box-options input{
  margin-top: 5px;
  width: 20vw;
  min-height: 20px;
  border-radius: 20px;
  border: 0;
  outline: none;
  transition: box-shadow 0.5s ease;
  text-align: center;
}
.box-options input:focus{
  box-shadow: rgb(39, 255, 39) 0px 2px 10px 1px;
}
.box-options button{
  margin-top: 5px;
  width: 60px;
  min-height: 20px;
  border-radius: 20px;
  border: none;
  transition: all 0.5s ease;
}
.box-options button:hover{
  background: rgb(39, 255, 39);
  box-shadow: rgb(33, 243, 39) 0 2px 10px 1px;
  color: white;
}
.box-music {
  width: 23vw;
  height: 70vh;
  border-radius: 20px;
  background: rgb(39, 255, 39);
  box-shadow: rgb(33, 243, 39) 0px 0px 10px 1px;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: all 0.8s ease;
}
.mini-box-music{
  width: 20vw;
  padding: 5px 0;
  border-radius: 20px;
  background: rgb(144, 74, 255);
  box-shadow: rgb(136, 62, 255) 0px 0px 5px 0.5px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overflow-wrap: break-word;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease;
}

.mini-box-options{
  width: 50vw;
  height: 50px;
  margin: 10px 0;
  border-radius: 20px;
  background: rgb(39, 255, 39);
  box-shadow: rgb(33, 243, 39) 0 0 5px 0.5px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease;
  display: flex;
  align-items: center;
  justify-content: start;
}
.mini-box-options:hover{
  border-radius: 15px;
}
.mini-box-options-list{
  list-style: none;
  margin: 0 15px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: all 1s ease;
  border-bottom: transparent solid 1px;
}

.mini-box-options-list:hover{
  border-bottom: rgb(136, 62, 255) solid 1px;
  transform: translateX(20px);

}
.video{
  border-radius: 20px;
  background-color: aqua;
}