::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  background-color: rgb(0, 179, 74);
  border-radius: 20px;
}
iframe{
  width:18vw;
  height:180px;
}

body {
  color: rgb(0, 0, 0);
  font-family: "Rajdhani", sans-serif;
}
.container {
  background-image: url(/src/wallpaper.jpg);
  background-size: cover;

  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.box-options {
  width: 60vw;
  height: 70vh;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.575);
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-25%);
  transition: all 0.3s ease;
  overflow-y: hidden;
}
.box-options input {
  margin-top: 5px;
  width: 20vw;
  min-height: 20px;
  border-radius: 20px;
  border: 0;
  outline: none;
  transition: box-shadow 0.5s ease;
  text-align: center;
}

.box-options button {
  margin-top: 5px;
  width: 60px;
  min-height: 20px;
  border-radius: 20px;
  border: none;
  transition: all 0.5s ease;
}
.box-options button:hover {
  background: rgb(0, 179, 74);
  color: white;
}
.box-music {
  width: 23vw;
  height: 70vh;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.575);

  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  visibility: hidden;
  overflow: none;
  opacity: 0;
  transition: all 0.8s ease;
}
.mini-box-music {
  width: 20vw;
  padding: 5px 0;
  border-radius: 20px;
  background: rgb(0, 179, 74);

  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  overflow-wrap: break-word;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease;
}

.mini-box-options {
  width: 50vw;
  height: 50px;
  margin: 10px 0;
  border-radius: 20px;
  background: rgb(0, 179, 74);

  visibility: hidden;
  opacity: 0;
  transition: all 1s ease;
  display: flex;
  align-items: center;
  justify-content: start;
}
.mini-box-options:hover {
  border-radius: 15px;
}
.mini-box-options-list {
  list-style: none;
  margin: 0 15px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: all 1s ease;
  border-bottom: transparent solid 1px;
}

.mini-box-options-list:hover {
  border-bottom: rgb(0, 112, 60) solid 1px;
  transform: translateX(20px);
}
.video {
  border-radius: 20px;
}

@media screen and (max-width:769px){
  .container{
    flex-direction: column;
  }
  .box-options{
    width: 100vw;
    border-radius: 0;
    transform: translateY(-25vh);
  }

  .box-music{
    width: 100vw;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.788);
    flex-direction: row;
  }
  .mini-box-music{
    width: 45vw;
    height: 40vh;
  }
  iframe{
    width: 43vw;
    height: 38vh;
  }
}

@media screen and (max-width:425px) {
  .box-music{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mini-box-music{
    width: 90vw;
    height: 40vh;
  }
  iframe{
    width: 85vw;
  }
  .mini-box-second{
    display: none;
  }
  .mini-box-options{
    padding: 0 15px;
  }
  input{
    padding: 4px 30px;
  }

}